<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsDownloadInfsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sistemas.cvm.gov.br/webservices/Sistemas/SCW/CDocs/WsDownloadInfs.asmx"
                binding="basicHttpBinding" bindingConfiguration="WsDownloadInfsSoap"
                contract="CVMWebCotas.WsDownloadInfsSoap" name="WsDownloadInfsSoap" />
        </client>
    </system.serviceModel>
    <system.diagnostics>
      <trace autoflush="true" />
      <sources>
        <source name="System.Net" >
          <listeners>
            <add name="TraceFile"/>
          </listeners>
        </source>
        <source name="System.Net.Sockets" >
          <listeners>
            <add name="TraceFile"/>
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener"
          initializeData="trace.log"/>
      </sharedListeners>
      <switches>
        <add name="System.Net" value="Verbose"/>
        <add name="System.Net.Sockets" value="Verbose"/>
      </switches>
    </system.diagnostics>
</configuration>